:root {
    --primary-color: #FF8600;
    --secondary-color: #27187E;
    --tertiary-color: #F1F2F6;
    --border-color: #F1F2F6;
}

.clock-face-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border: 2em var(--border-color) solid;
    width: 40em;
    height: 15em;
    border-radius: 1em;
    z-index: 3;
}

.clock-time {
    font-size: 5em;
    font-weight: bolder;
    color: var(--primary-color);
}

.clock-svg {
    max-height: 1.5em;
}

.button-container {
    display: flex;
    justify-content: center;
}

.cycle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    max-width: fit-content;
    background-color: #758BFD;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    font-size: 2em;
    font-weight: bolder;
    border: solid black 5px;
    border-bottom: 0;
    color: var(--primary-color);
    padding: 0.25em 1em;
    z-index: 2;
}

.cycle-button:hover {
    filter: brightness(120%);
}

.date-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2em;
    margin-top: 1em;
    border-radius: 1em;
    background-color: var(--secondary-color);
}

.date-text {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--primary-color)
}

svg {
    max-height: 3em;
    padding: 0.5em;
}